onnx
onnxruntime-gpu        # use onnxruntime-gpu instead if CUDA is available
opencv-python
numpy
scikit-image
matplotlib
faiss-cpu
fastapi
uvicorn
websockets
python-multipart
PyQt6
asyncpg
requests
